<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information Form</title>
</head>
<body>
    <h1>User Information Form</h1>
    <form action="/submit_form" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" min="0" required><br><br>

        <label for="sex">Sex:</label><br>
        <select id="sex" name="sex" required>
            <option value="">--Please choose an option--</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
            <option value="prefer_not_to_say">Prefer not to say</option>
        </select><br><br>

        <label for="hobby">Hobby:</label><br>
        <input type="text" id="hobby" name="hobby"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
